$grey: #373839;
$white: #d2d3d3;
$text: #b8b8b8;

$purple: #8017b9;

.habits-page {
  background: black;
  background-image: radial-gradient(
    circle at center,

    #3e025e 0%,
    #250238 30%,
    black 60%
  );
  overflow-y: scroll;

  position: relative;
}

header {
  width: 100%;
  display: flex;
  margin-top: 1rem;

  justify-content: space-between;
  align-items: center;
}

main {
  width: 100vw;
  height: 100vh;
  margin-bottom: 15rem;
}

#logout-btn {
  margin-right: 4rem;
  width: min-content;
  position: relative;
  background: transparent;
  border: none;
  color: $white;
}

#logout-btn:hover {
  background: transparent;
  color: $purple;
}

#logout-btn::after {
  content: "";
  z-index: 3000;
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: $purple;
  transition: width 0.3s ease-in;
}

#logout-btn:hover::after {
  width: 100%;
}

.habits-title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.new-habit {
  position: absolute;
  display: flex;
  right: 0;
  top: -4rem;
  align-items: center;
  justify-content: center;
}
.new-habit-text {
  margin-right: 1rem;
}
.new-habit-btn {
  cursor: pointer;
  font-size: 4rem;
  transition-duration: 1s;
}

.new-habit-btn:hover {
  transform: rotate(360deg);
}

.habits {
  position: relative;
  max-width: 800px;
  width: 80%;
  margin: auto;
  top: 25%;
}
.weekly-habits {
  position: relative;
  max-width: 800px;
  width: 80%;
  margin: auto;
}

.habit {
  background-color: $white;
  color: $grey;
  padding: 2rem 3rem;
  margin-bottom: 2rem;
}

.habit-info {
  display: flex;
  margin-block: 1.5rem;
}

.progress-bar {
  width: 80%;
  position: relative;
  background-color: transparent;
  border: 1px solid $grey;
  height: 35px;
}
.progress-bar-completion {
  width: 12.5%;
  height: 100%;
  background-color: $purple;
}
.progress-bar-text {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  top: -1rem;
}

.habit-tick {
  width: 10%;
}

.habit-image {
  width: 40px;

  background-image: url("../images/code.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 1rem;
}

.flex {
  display: flex;
  height: fit-content;
}
